.main {
 

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  
  &__l {
    background-size: contain;
    background-position: center;

    img {
      transform: translateY(-70px);
      width: 100%;
      max-height: 100%;
      max-width: 774px;
      z-index: -1212;
    }
  }
  &__r {
    margin-top: 123px;
    width: 377px;
    height: 320px;
    padding: 0 40px;
    p {
      line-height: 1.8;
      opacity: .8;
      font-family: $poppins;
      font-size: 13px;
      color: #fff;
    }
  }
  span {
    text-transform: uppercase;
    color: #FF5B79;
    font-size: 16px;
    font-family: $poppins;
    font-weight: 700;
  }
  h1 {
    padding: 11px 0 21px 0;
    font-weight: 800;
    font-size: 57px;
    color: #fff;
    font-family: $poppins;
  }
  .main__button {
    display: flex;
    align-items: center;
    padding-top: 45px;
    img {
      cursor: pointer;
    }
  }
}
.bgb {
  background-color: red;
  width: 243px;
  height: 70px;
  border-radius: 12px;
}
.btnbg {
  width: 139px;
  position: relative;
  &:hover {
    box-shadow: -20px 80px  102px  rgba(102, 10, 48, 0.2);
  }
}
.btn1 {
  font-size: 12px;
  font-family: $poppins;
  width: 87px;
  color: #fff;
  border: none;
  background: none;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translateX(-50% );
}
.btn2 {
  padding-left: 90px;
  font-size: 12px;
  color: #ffff;
  border: none;
  background: none;
  margin-right: 10px;
}

