
@media (max-width: 1397px) {
    .header__btn {
      display: block;
      z-index: 12123123;
    }
    
    .nav {
  
      position: absolute;
      transform: translateY(-460px);
      right: 0;
      background-color: rgba(0, 0, 0, .9);
      width: 100%;
      z-index: 123;
      transition: .3s linear;
      box-shadow: #FF5B79;
      &__list{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 152px 100px;
      }
      &__link {
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
       
      }  
      .nav__item {
        font-size: 30px;
        margin-bottom: 55px;
      }
      .nav__item-outline {
        margin-right: 40px;
      }
    }
  
    .nav.active {
      transform: translateY(261px);
    }
  }